<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Web Component Example</title>
  <script src="../../../dist/text-input/form.js" type="module"></script>
  <script src="../../../dist/text-input/text-input.js" type="module"></script>
  <script defer type="module">
    import App from '../../../dist/text-input/app.js';
    const select = document.querySelector;

    window.addEventListener('DOMContentLoaded', (event) => {
      const input = document.querySelector('ui-text-input');
      input.addEventListener('click', (event) => console.log(event));

      document.querySelector('#delete-button').addEventListener('click', () => {
        console.log('before:', input.childNodes);
        console.log(input.shadowRoot); // null
        // This should not be possible?
        input.innerHTML = '';
        console.log('after:', input.childNodes);
      });

      window.app = App;
    });
  </script>
</head>

<body>
  <ui-form> </ui-form>
</body>
